@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Sniglet:wght@400;800&display=swap');
@import "tailwindcss";

/* default */
@theme {
	--color-yellow: #ffc05f;
	--color-dark-yellow: #db9c3c;
	--color-dark: #303030;
	--color-main-gray: #525252;
	--color-gray: #a6a6a6;
	--color-light-gray: #f6f6f6;
	--color-dark-dark: #202020;
	--text-sm: 14px;
	--text-md: 16px;
	--text-lg: 18px;
	--text-xl: 24px;
	--text-xxl: 30px;
	--font-title: Shrikhand, "sans-serif";
	--font-main: Sniglet, "sans-serif";
}

@layer base {
	body {
		font-family: "Sniglet", sans-serif;
		color: var(--color-main-gray);
	}
}

img {
	width: 100%;
}

/* utility */
.debug {
	border: 1px dashed red;
}